.all > div {
    background-color: violet;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
}

.all > div > div {
    background-color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}

.all > div > div > div {
    color: white;
    background-color: blue;
    width: 5em;
    margin: 1em;
    line-height: 5em;
}



.column {
    display: flex;
    flex-direction: column;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-reverse {
    display: flex; flex-direction: row-reverse;
}


.justify-center {
    display: flex;
    justify-content: center;
}

.justify-flex-start {
    display: flex;
    justify-content: flex-start;
}

.justify-flex-end {
    display: flex;
    justify-content: flex-end;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.space-between {
    display: flex;
    justify-content: space-between;
}


.align-center {
    display: flex;
    height: 200px;
    align-items: center;
}

.align-flex-start {
    display: flex;
    height: 200px;
    align-items: flex-start;
}

.align-flex-end {
    display: flex;
    height: 200px;
    align-items: flex-end;
}

.stretch {
    display: flex;
    height: 200px;
    align-items: stretch;
}

.baseline {
    display: flex;
    height: 200px;
    align-items: baseline;
}




.order {
    display: flex;
    align-items: stretch;
}

.flex-grow {
    display: flex;
    align-items: stretch;
}

.flex {
    display: flex;
    align-items: stretch;
}